@import url('reset.css');

body {
	font: normal 14px Helvetica;
  max-width: 990px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  border-top: none;
  color: #333;
}
a {
  text-decoration: none;
  color: #001be1;
}
a:hover {
  text-decoration: underline;
}
/* ************************************* */
/* header */
/* ************************************* */
header {
  height: 230px;
}
header * {
  box-sizing: border-box;
}
#banner {
  height: 24px;
  background: #ba132e url('http://cdn.oreillystatic.com/radar/images/oreilly_logo_white.png') 27px 6px no-repeat;
}
#title {
  display: inline-block;
  height: 100px;
  width: 490px;
  background: url("http://cdn.oreillystatic.com/radar/images/radar_tagline.png") 27px 23px no-repeat;
}
.wrapper {
  display: inline-block;
}
.header-title {
  width: 100%;
}
.social-media-search {
  float: right;
  width: 300px 
}
.social-media-search ul {
  text-align: right;
  padding: 17px 16px 0 0;
}
.social-media-search li {
  display: inline-block;
  text-indent: 9999px;
  height: 24px;
  width: 24px;
  background: url("http://cdn.oreillystatic.com/radar/images/update-icons-062014.png") 0 0 no-repeat;
}
ul li#twitter {
  background-position: -28px 0;
  margin-left: 1px;
}
ul li#facebook {
  background-position: -56px 0;
  margin-left: 1px;
}
ul li#google-plus {
  background-position: -84px 0;
}
ul li#youtube {
  background-position: -112px 0;
  margin-right: -1px;
}
header form {
  float: right;
  padding: 11px 16px 0 0;
}
header fieldset {
  float: left;
}
header input[type="text"] {
  width: 218px;
  height: 26px;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9f9999;
  padding-left: 2px;
  border: 1px solid #c5c5c5;
  border-right: 0;
  background: #f9f9f9;
}
header input[type="submit"] {
  float: right;
  width: 26px;
  height: 26px;
  border: none;
  color: transparent;
  background: url("http://cdn.oreillystatic.com/images/sitewide-headers/search_btn.gif") 0 0 no-repeat;
}
#menu * {
  box-sizing: content-box;
}
#menu ul {
  height: 33px;
  background: linear-gradient( #fbfbfb, #eeeeee );
  border-top: 1px solid #ddd;
}
#menu li {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: inherit;
  padding: 0 15px 0 15px;
  font-size: 13px;
  line-height: 280%;
  border-bottom: 1px solid #ddd;
}
li#menu-selected {
  background: #fff;
  color: #900;
  border-bottom: none;
}
#topics ul {
  margin-left: 14px;
}
#topics li {
  display: inline-block;
  font-size: 18px;
  color: #777;
  padding: 30px 10px 4px 10px;
  border-bottom: 4px solid #bbb;
  margin-left: 6px;
}
/* ************************************* */
/* main */
/* ************************************* */
main {
  margin: 17px 17px 0 20px;
}
main h2 {
  font-size: 22px;
  color: #001be1;
  padding-top: 15.5px;
  padding-bottom: 0;
}
h2 a:hover {
  text-decoration: underline;
}
h2 a:visited {
  color: inherit;
}
main h3, h4 {
  text-transform: uppercase;
  color: #900; 
  border-bottom: 1px solid #ccc;
}
main h3 {
  padding-bottom: 1px;
}
main h4 {
  font-size: 13.1px;
  margin-top: -2px;
  padding-bottom: 4.2px;
}
main h5 {
  font-size: 18px; 
  line-height: 24px;
  color: #000;
  padding-top: 14px;
}
/* ************************************* */
/* article */
/* ************************************* */
article {
  float: left;
  width: 66%;
  box-sizing: border-box;
  padding-right: 14px;
}
p {
  padding-top: 14px;
  font-size: 15px;
  line-height: 20px;
}
/* ************************************* */
/* article section */
/* ************************************* */
article ul {
  font-size: 15px;
  padding: 14px 0 30px 0;
  margin-left: 5px;
  line-height: 134%;
}
article li {
  max-width: 500px;
}
article li:before {
  content: '\25AA';
  font-size: 17.1px;
  vertical-align: -1px;
  padding-right: 9px;
}
section#featured #section-social-media {
  padding-top: 0;
}
section#featured {
  margin-top: 0;
  border-bottom: 4px solid #ccc;
}
section#featured h2 {
  margin-left: 0;
  margin-top: 0;
}
section#featured ul {
  padding: 14px 0 14px 0;
}
section {
  border-bottom: 1px solid #ccc;
}
section h2 {
  margin-left: 67px;
  margin-top: 10px;
}
.article-intro {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 125%;
  padding-left: 67px;
  padding-top: 4px;
}
.author-contact {
  display: inline-block;
  font-size: 12px;
  color: #666;
  padding-left: 67px;
  margin-top: 5px;
}
.blog-preview {
  width: 594px;
}
a.full-blog-link {
  diaplay: inline-block;
  font-size: 15px;
  line-height: 130%;
  font-weight: bold;
}
.blog-link-paragraph {
  padding-top: 0;
}
section .section-social-media {
  color: #8c8c8c;
  padding-top: 12px;
  padding-bottom: 12px;
}
.editor-note {
  font-size: 15px;
  font-style: italic;
}
.blog-preview .full-width img {
  padding-top: 26px;
  width: 100%;
}
.blog-preview .float-right img {
  float: right;
  padding-top: 16px;
  padding-left: 26px;
}
.blog-preview li {
  padding-left: 20px;
  padding-bottom: 10px;
}
.blog-preview ul {
  padding-bottom: 0;
}
.numbered-list {
  margin-left: 20px;
}
.numbered-list li {
  max-width: none;
  list-style: decimal; 
  padding-left: 0;
}
.numbered-list li:before {
  content: "";
  padding-right: 0;
}
.bold {
  font-weight: bold;
}
figcaption {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  line-height: 140%;
  padding-top: 10px;
  padding-bottom: 6px;
}
blockquote {
  font-size: 18px;
  font-weight: bold;
  line-height: 115%;
  padding-top: 14px;
}
#mike_loukides {
  background: url("http://cdn.oreillystatic.com/radar/images/people/photo_mikel_s.jpg") 0 16px no-repeat;
}
#tyler_akidau {
  background: url("http://cdn.oreillystatic.com/radar/images/people/photo_tylera_s.jpg") 0 16px no-repeat;
}
#stefan_thies {
  background: url("http://cdn.oreillystatic.com/radar/images/people/photo_sthies_s.jpg") 0 16px no-repeat;
}
#stefan_thies img {
  padding-top: 14px;
}
#william_mougayar {
  background: url("http://cdn.oreillystatic.com/radar/images/people/photo_wmougayar_s.jpg") 0 16px no-repeat;
}
#benjamin_hindman {
  background: url("http://cdn.oreillystatic.com/radar/images/people/photo_bhindman_s.jpg") 0 16px no-repeat;
}
#andy_oram {
  background: url("http://cdn.oreillystatic.com/radar/images/people/photo_andyo_s.jpg") 0 16px no-repeat;
}
#older-post {
  font-size: 12px;
  font-weight: bold;
  padding: 20px 0;
}
/* ************************************* */
/* aside */
/* ************************************* */
aside {
  float: right;
  width: 320px; 
  box-sizing: border-box;
}
select {
    display: block;
    font-size: 12px;
    letter-spacing: -0.4px;
    line-height: 140%;
    margin-top: 10px;
    padding: 0 19px 0 3px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select[name="archives-topic"] {
  padding-right: 21px;
}
select[name="archives-author"] {
  padding-right: 84px;
  margin-bottom: 24px;
}
.help {
  display: inline-block;
  font-size: 12px;
  line-height: 130%;
  font-weight: bold;
  padding-top: 10px;
}
/* ************************************* */
/* footer */
/* ************************************* */
footer {
  height: 310px;
  border: 1px solid #ddd;
  padding-top: 12px;
  box-sizing: border-box;
  clear: both;
}
#footer-banner {
  width: 100%;
  background: #9a0d00;
}
#footer-banner:after {
  display: block;
  content: "";
  clear: both;
}
#footer-banner ul {
  padding-top: 10px;
  height: 38px;
}
#footer-banner li {
  float: right;
  height: 22px;
  width: 22px;
  text-indent: -9999px;
  margin-left: 2px;
  background: #9a0d00 url('http://cdn.oreillystatic.com/radar/images/social-icons.png') 0 -20px no-repeat;
}
#footer-banner ul li:first-child {
  width: 132px;
  text-indent: 0;
  font-size: 11px;
  padding-top: 6px;
  color: #efffff;
  background: #9a0d00;
}
#footer-banner #footer-rss {
  background-position: -110px -20px;
}
#footer-banner #footer-googleplus {
  background-position: -132px -20px;
}
#footer-banner #footer-twitter {
  background-position: -66px -20px;
}
#footer-banner #footer-facebook {
  background-position: -44px -20px;
}
#footer-banner #footer-friendship {
  background-position: -22px -20px;
}
#legal-contact {
  display: inline-block;
  width: 240px;
  margin: 13px 0 0 11px;
}
#legal-contact p {
  font-size: 12px;
  font-weight: bold;
  padding-top: 0;
  line-height: 17px;
}
#legal-contact p:last-child {
  font-weight: normal;
  padding-top: 9px;
  line-height: 130%;
}
table {
  float: right;
  width: 730px;
  padding: 14px 0 0 36px;
  font-size: 12px;
  text-align: left
}
table th, table td {
  line-height: 130%;
  padding-left: 22px;
}
table th {
  padding-bottom: 4px;
}
/* ************************************* */
/* media queries */
/* ************************************* */
@media (max-width: 950px) {
  body {
  }
  aside {
    float: right;
    width: 300px; 
  }  
}

/* default */
/*   max-width: 990px; */
/*   no dropdowns */
/*   fixedwidth archives sidebar */
/*     sidebar hold space down the entire side of the page */

/* less than 950 */
/*   hamburger menu fullscreen dropdown */ 
/*   topics dropdown fixed width */  
/*   fixedwidth archives sidebar */
/*     sidebar hold space down the entire side of the page */

/* less than 768 */
/*   same hamburger menu fullscreen dropdown */
/*   topics dropwdown full width */ 
/*   Radar header is smaller font */
/*   social media pushed below Radar header */

/*   articles take of full width of the page */

/*   footer is single column */
/*   archives sidebar moves above the footer */
  
  
